<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/dlx2edd.css" />
    <link rel="stylesheet" href="/Bootstrap/Responsive.css" />
    <link rel="stylesheet" href="/Bootstrap/Bootstrap.css" />
    <link rel="stylesheet" href="/Css/Blog.css">
    <link rel="stylesheet" href="/Css/UsuariosGeneral.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lucaburgio/iconoir@main/css/iconoir.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <title>Crear Post</title>
  </head>
  <body>
    <main class="container-general">
      <div class="menu">
        <div class="avatar">
          <span class="iconoir-user-square"></span>
          <span class="name">Administrador</span>
        </div>
        <nav class="primary">
          <a href="#" class="menu-item active">
            <span class="iconoir-calendar"></span>
            <span class="desc">Horario</span>
          </a>
          <a href="#" class="menu-item">
            <span class="iconoir-user"></span>
            <span class="desc">Usuarios</span>
          </a>
          <a href="#" class="menu-item">
            <span class="iconoir-money-square"></span>
            <span class="desc">Pagos</span>
          </a>
          <a href="/index" class="menu-item">
            <span class="iconoir-google-docs"></span>
            <span class="desc">Blog</span>
          </a>
          <a href="#" class="menu-item">
            <span class="iconoir-settings"></span>
            <span class="desc">Info. Personal</span>
          </a>
        </nav>
        <span class="expander iconoir-arrow-right"></span>
      </div>
      <div class="topbar">
        <h1 style="margin-left: 1%;" class="current">Blog</h1>
      </div>
      <div class="dashboard">
        <div class="row">
          <div class="col-md-12">
            <div class="contergeneral center" style="padding-bottom: 2%;">
              <form class="blog" action="/create" method="POST" enctype="multipart/form-data">
                <div class="blog-header">
                  <h1>Crear post</h1>
                </div>
                  <input type="text" name="title" placeholder="Titulo del post" required />
                  <input type="text" name="content" placeholder="Contenido del Post" required />
                  <input type="file" name="image" accept="image/*" />
                  <button type="submit">Publicar</button>
                </form>
              </div>
              <div class="contergeneral center overflow">
                <ul>
                  <% posts.forEach(post => { %>
                  <li>
                    <h2><%= post.title %></h2>
                    <img class="imagen-post" src="<%= post.image_path %>" alt="Imagen del post"/>
                    <p><%= post.content %></p>
                    <small>Publicado el <%= post.created_at %></small>
                  </li>
                  <button class="edit-btn" data-post-id="<%= post.id %>">Editar</button>
                  <a href="/delete/<%= post.id %>" class="delete-post">Eliminar Post</a>
                  <% }); %>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="editModal">
        <button class="close-modal">X</button>
        <div class="modal-content"></div>
      </div>
    </div>
    <script>
      document.querySelectorAll(".delete-post").forEach((element) => {
        element.addEventListener("click", (e) => {
          const confirmed = confirm(
            "¿Estás seguro de que deseas eliminar este post?"
          );
          if (!confirmed) {
            e.preventDefault(); // Cancela el enlace si no se confirma
          }
        });
      });

      document.addEventListener("DOMContentLoaded", function () {
        const editButtons = document.querySelectorAll(".edit-btn");
        const modal = document.getElementById("editModal");
        const modalContent = modal.querySelector(".modal-content");

        editButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const postId = this.dataset.postId;

            // Abre el modal
            modal.style.display = "block";

            // Realiza una petición para cargar la vista de edición
            fetch(`/edit/${postId}`)
              .then(response => response.text())
              .then(html => {
                modalContent.innerHTML = html;
              });
          });
        });
        //Agrega un evento para cerrar con la tecla ESC
        document.addEventListener("keydown", function () {
          if (event.key === "Escape") {
            modal.style.display = "none"
          }
        })

        // Agrega un evento para cerrar el modal
        const closeModalButton = modal.querySelector(".close-modal");
        closeModalButton.addEventListener("click", function () {
          modal.style.display = "none";
        });
      });
    </script>
    </main>
  </body>
</html>
